{% extends "base.html" %}

{% block content %}
<div class="col-md6 border rounded">
    <h1>Мой Профиль</h1>
    <p><h2>Имя:</h2> <h3>{{ current_user.name }}</h3></p>
</div>
<div class="col-md6 border rounded">
    <h2>Обявления:</h2>
    {% for item in news%}
        {% if current_user.is_authenticated %}
            {%if current_user == item.user %}
            <div>
                {{item.content}}
            </div>

            <div>
                <img src="/static/img/{{item.img}}" alt="здесь должна была быть картинка, но не нашлась">
            </div>
            {%endif%}
        {%endif%}
    {% endfor %}
</div>
{% endblock %}